[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tests/x_helpers/bats"]
	path = tests/x_helpers/bats
	url = https://oliverhulett@github.com/oliverhulett/bats
[submodule "tests/x_helpers/bats-support"]
	path = tests/x_helpers/bats-support
	url = https://oliverhulett@github.com/oliverhulett/bats-support
[submodule "tests/x_helpers/bats-file"]
	path = tests/x_helpers/bats-file
	url = https://oliverhulett@github.com/oliverhulett/bats-file
[submodule "tests/x_helpers/bats-assert"]
	path = tests/x_helpers/bats-assert
	url = https://oliverhulett@github.com/oliverhulett/bats-assert
[submodule "tests/x_helpers/bats-mock"]
	path = tests/x_helpers/bats-mock
	url = https://oliverhulett@github.com/oliverhulett/bats-mock
