[Unit]
Description=Pre-shutdown backup "service"

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/home/olihul/dot-files/autocommit.sh
User=olihul

[Install]
WantedBy=multi-user.target
