[Unit]
Description=Pre-shutdown backup "service"

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/home/olihul/dot-files/backup.sh

[Install]
WantedBy=multi-user.target
